
/* Your CSS Code here. */
.holder {
	width: 50%;
	display: grid;
	background-color:red;
	gap: 2px;
	overflow: hidden;
	grid-template-columns: repeat(492px 492px);
	grid-template-row: repeat(492px 492px);
	
}