
/* Your CSS Code here. */
.holder {
	width: 200px;
	height:200px
	display:flex;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}
.item{
	border:1px solid black;
	padding:10px;
	text-align:center;
}